body {                       /*It is the place where the rules of the body are determined.*/
    margin: 0;               /*  Sets the margin of the page to zero, removing any default margin.*/
    padding: 0;              /* Sets the padding of the page to zero, eliminating any default padding.*/
    font-family: sans-serif; /*Defines the font family for the entire page, specifying a sans-serif typeface.*/
    background: #000;      /*Sets the background color of the page to black (#000).(Black)*/
   
}

header { /* Styling for the header */
    padding: 5px 5px;
    box-sizing: border-box;    
}
   
.logooslomet { /* Styling for the logo with the class "logo oslomet" */
    margin-top: 0px;
    margin-left: 39px;
    width: 130px;
    height: 20%; 
}

section {/* Styling for the sections */
    width: 100%;
    height:100vh ; /* 100% of the viewport height */
}

section.sec1 {/* Styling for a specific section with the class "sec1" */
    margin-top: -10px;
    background: url(../Images/p32_byg.webp); /*Foto: Huseyin Ozturk-2023  */  /* Background image with a URL */
    background-size: cover;/* Cover the entire background with the image */
}

/* Styling for elements with the class 'sec2' within the 'section' */
section.sec2 {
    padding: 100px;       /* Adds padding of 100 pixels to all sides of elements with the class 'sec2' */
    box-sizing: border-box; /* Applies the border-box sizing model, including padding and border in the element's total width and height */
    height: auto;         /* Sets the height of elements with the class 'sec2' to be automatically determined by their content */
}
/* Styling for 'h2' elements within '.sec2' section */
section.sec2 h2 {
    font-size: 3em;      /* Sets the font size of 'h2' elements to 3 times the default font size */
    margin: 0;           /* Resets the margin to zero to remove any default margin */
    padding: 0 0 20px;    /* Adds padding to the bottom of 'h2' elements (0 on top, 0 on right, 20 pixels on bottom) */
    color: #FFD500;         /* Sets the text color of 'h2' elements to white (#fff) */
    margin-left: 100px;  /* Adds a left margin of 100 pixels to create space on the left side of 'h2' elements */
}


section.sec2 p{/* Styling for paragraphs within elements with the class 'sec2' */
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    color: #fff;
    margin-bottom: 50px;
}

/* Styling for elements with the class 'sec3' */
section.sec3 {
    background: url(../Images/p32_byg.webp);  /*Foto: Huseyin Ozturk-2023 /* Sets the background image for elements with the class 'sec3' */
    background-size: cover;                    /* Ensures that the background image covers the entire container */
    margin-bottom: 200px;                      /* Adds a bottom margin of 200 pixels to create space below elements with the class 'sec3' */
}
footer {/* Styling for the footer */
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #401010;
}


.footer-column {/* Styling for elements with the class 'footer-column' */
    border-bottom: 5px;   /* Adds a bottom border with a default color and style, but the width is missing a unit (e.g., px) */
    margin-left: 50px;    /* Adds a left margin of 50 pixels to the elements with the class 'footer-column' */
    margin-right: 100px;  /* Adds a right margin of 100 pixels to the elements with the class 'footer-column' */
    margin-top: 100px;    /* Adds a top margin of 100 pixels to the elements with the class 'footer-column' */
    margin-bottom: 1.5em; /* Adds a bottom margin of 1.5 times the font size to the elements with the class 'footer-column' */
    font-size: 20px;      /* Sets the font size of the text within elements with the class 'footer-column' to 20 pixels */
}



.footer-column li {/* Styling for List Items within '.footer-column' */
    font-family: Arial, Helvetica, sans-serif;  /* Sets the font family for list items */
    margin-bottom: 16px;  /* Adds bottom margin of 16 pixels to each list item */
    display: block;  /* Specifies that list items should be displayed as block-level elements */
    color: #FFD500;  /* Sets the text color of list items to a shade of yellow */
    line-height: 1.5;  /* Sets the line height to 1.5 times the font size */
    font-size: 17px;  /* Sets the font size to 17 pixels */
    font-weight: 400;  /* Sets the font weight to 400 (normal) */
    transition: all .50s ease;  /* Adds a smooth transition effect for all properties over 0.5 seconds with an ease timing function */
}

.footer-column li:hover { /* Hover Effect for Footer Column List Items */
    transform: translateY(-3px) translateX(-5px);
}

.h3class{/* Styling for Heading with Class 'h3class' */
    text-align: left;
    margin-left: 40PX;
    margin-bottom: 60px;
    color:rgb(53, 238, 238);
    text-decoration: underline;
}

 .Foto2 {/* Styling for Element with Class 'Foto2' */
    color: #FFD500;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 0px;
    font-size: 15px;  
}

.link-color {/* Styling for Links with Class 'link-color' */
    color: #FFD500;
}

.row {/* Styling for Grid Layout with Class 'row' */
    margin-top: 80px;/* Adds a top margin of 80 pixels to the 'row' class */
    margin-bottom: 80px;/* Adds a bottom margin of 80 pixels to the 'row' class */
    width: 80%; /* Sets the width of the 'row' class to 80% of its containing element */
    max-width: 1170px;/* Sets the maximum width of the 'row' class to 1170 pixels */
    display: grid; /* Sets the display property to 'grid' for the 'row' class */
    grid-template-columns: repeat(2, 1fr);/* Creates a grid with two columns of equal width */
}

.row .left img {/* Styling for Image in Left Column of Grid */
    width: 100%;
    height: 90%;
    object-fit: cover;
}



.row .left .Foto2 {/* Styling for Text in Left Column of Grid */
    color: #FFD500;
    margin-bottom: 0px;
    font-size: 15px  
}

.row .right {/* Styling for Right Column of Grid */
    display: flex;
    align-items: center;
}

.row .right .content {/* Styling for Content in Right Column of Grid */
    padding-left: 20px;
}

.row .right .content p {
    font-size: 1.4em;       /* Sets the font size to 1.4 times the default font size */
    line-height: 26px;      /* Defines the line height between lines of text as 26 pixels */
    padding-bottom: 15px;   /* Adds padding to the bottom of each paragraph (15 pixels) */
    text-align: left;       /* Aligns the text to the left within the paragraph */
    margin-left: 50px;      /* Adds a left margin of 50 pixels to the paragraphs */
    padding-bottom: 15px;   /* Adds additional padding to the bottom of each paragraph (15 pixels) */    
}

@media (min-width: 750px) { /* Media Query 1: Applies styles when the viewport width is 750 pixels or wider */
    .row .left .content {   
        width: 750px;  /* Sets the width of content in the left column to 750 pixels */
    }
}
@media (max-width: 700px){/* Media Query 2: Applies styles when the viewport width is 700 pixels or narrower */
    .row .left img {
        width: 350px;  /* Sets the width of images in the left column to 350 pixels */
        height: 50%;   /* Sets the height of images to 50% of the parent element's height */
    }
}
@media (max-width: 768px){/* Media Query 3: Applies styles when the viewport width is 768 pixels or narrower */
    .row {
        width: 90%;/* Sets the width of elements with the class 'row' to 90% of the container's width */
        grid-template-columns: repeat(2,1fr);/* Changes the grid template columns to have two equal-width columns */
    }
}
  
  header {/* Header design */
    background: rgb(0, 0, 0);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  
  .nav-toggle {/* Styles for the navigation toggle */
    
    position: absolute !important;
    top: -999px !important;
    left: -9999px !important;
    
  }
  
  .nav-toggle:focus ~ .nav-toggle-label {/* Highlighting the label when the navigation toggle is focused */
    outline: 3px solid rgba(rgb(239, 65, 65), 0.75);
    
  }
  
  .nav-toggle-label {/* Styles for the navigation toggle label */
    position: absolute;
    margin-top: 50px;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  /* Styles for the lines in the navigation toggle icon */
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
   
    display: block;
    background: rgb(252, 205, 18);
    height: 4px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  /* Positions of the lines in the navigation toggle icon */
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }
  
  .nav-toggle-label span::before {/* Position of the first line in the navigation toggle icon */
    bottom: 9px;
  }
  
  .nav-toggle-label span::after {/* Position of the second line in the navigation toggle icon */
  
    top: 7px;
  }
  
  nav {/* Styles for the navigation menu */
   margin-top: 50px;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: rgb(0, 0, 0);
    width: 100%;
    transform: scale(1, 0);
    transition: transform 500ms ease-in-out;
   
  }
  
  nav ul {/* Styles for the list inside the navigation menu */

    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {/* Styles for the list items inside the navigation menu */
    margin-top: 40px;
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {/* Styles for the links inside the navigation menu */
    
    color: rgb(252, 205, 18);
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {/* Styling for link hover effect */
    color: rgb(54, 40, 40);
  }
  
  .nav-toggle:checked ~ nav {/* Displaying the full navigation menu when the toggle is checked */
    transform: scale(1, 1);
  }
  
  .nav-toggle:checked ~ nav a {/* Adjusting opacity for navigation links when the toggle is checked */
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  @media screen and (min-width: 800px) {/* Media query for screens wider than 800px */
    .nav-toggle-label {
      display: none;
    }
    header {/* Header layout for wider screens using grid */
      
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    .logo {/* Logo positioning in the header for wider screens */
        
      grid-column: 2 / 3;
    }
    nav { /* Navigation menu styling for wider screens */
      all: unset;
      margin-top: 10px; 
      margin-bottom: 10px;
      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1, 1);
      background: none;
      top: initial;
      left: initial;
  
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    nav ul {/* Styling for the list inside the navigation menu on wider screens */
        
      display: flex;
    }
    nav li {/* Adjustments for list items inside the navigation menu on wider screens */
        
      margin-left: 3em;
      margin-bottom: 15px;
    }
    nav a { /* Styling for links inside the navigation menu on wider screens */
        
      opacity: 1;
      position: relative;
    }
    nav a::after {  /* Styling for the underline effect after hovering over links on wider screens */ 
      content: "";
      display: block;
      height: 2px;
      background: rgb(253, 26, 26);
      /* position: absolute; */
      left: 0;
      right: 0;
      transform: scale(0, 2);
      transition: transform ease-in-out 250ms;
    }
    nav a:hover::after {/* Underline effect when hovering over links on wider screens */
        
      transform: scale(1, 1);
    }
  }














