body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #000;
}

header {
    padding: 10px 10px;
    box-sizing: border-box;
        
}
header.img{
    margin-right: 100px;
}
section {
    width: 100%;
    height:100vh ;
}

section.sec1 {
    margin-top: 50px;
    background: url(../webP/oslogiris_1.webp);
    background-size: cover;
}

section.sec2 {
    padding: 100px;
    box-sizing: border-box;
    height: auto;
}

section.sec2 h2{
    font-size: 3em;
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
}

section.sec2 p{
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    color: #fff;
    margin-bottom: 50px;
}

section.sec3 {
    background: url(../webP/oslogiris_1.webp);
    background-size: cover;
    margin-bottom: 200px;
}
nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 0px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
   display: block;
   color: #fff;
   padding: 0 20px;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   line-height: 50px;  
}

nav ul li a:hover,
nav ul li a.active {
background: #f00;
}


footer {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #000000;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
}

.footer-column {
    margin-top: 100px;
    color: rgb(248, 199, 52);
    margin-bottom: 1.5em;
    font-size: 20px;
}

.footer-column li {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition:all .50s ease;
}
.footer-column li:hover {
    transform: translateY(-3px) translateX(-5px);
}
.row {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.row .left {
    overflow: hidden;
}

.row .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row .right {
    display: flex;
    align-items: center;
}

.row .right .content {
    padding-left: 20px;
}

.row .right .content p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;     
}

@media (max-width: 991px){
    .row .right .content {
        padding-left: 0;
    }
}

@media (max-width: 768px){
    .row {
        width: 90%;
        grid-template-columns: repeat(2,1fr);
    }
}







