* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
   
  
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../Images/oslogiris.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    box-sizing:border-box;
 
}

.navbar {
    margin-top: 0px;
    margin-right: 30px;
    height: 20%;
    display: flex;
    align-items: center;
}
.logo {
    margin-top: 10px;
    width: 50px;
    cursor: pointer;
}

.menu-icon {
    width:350px;
    cursor: pointer;
    margin-left: 20px;
}

nav {
    flex: 1;
    text-align: left;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li {
    text-decoration: none;
    color: #fff;
    font-size: 13px;

}

nav ul li a {
    color: #fff;
    font-size: 20px;
    
}

.row {
    margin-top: 10px;
    display:flex;
    height: 88%;
    align-items:center;
  
}

.col {
    flex-basis: 50%;
       
}

h1 {
    margin-left: 30px;
    color: #fff;
    font-size:50px;
}
.col p {

    color: #ffffff;
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.col .col_paragraph {
    color: aquamarine;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}

button {
    width: 180px;
    color: rgb(235, 229, 63);
    font-size:20px;
    font-weight: bold;
    padding: 12px 0;
    background: rgb(221, 86, 86);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    margin-left: 30px;
}

.card {
    
    width: 300px;
    height: 250px;
    display:inline-block;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 50px 45px;
    background-position:center ;
    background-size:cover;
    transition: transform 0.2s;
    

}

.card1 {
    background-color: rgb(118, 115, 104) ;
    
}


.card2 {
    background-color: rgb(118, 115, 104) ;

}

.card3 {
    background-color: rgb(118, 115, 104) ;
}

.card4 {
    background-color: rgb(118, 115, 104) ;
   

}
.card:hover{
    transform: translateY(-10px);
}

h5 {
   text-align: center;
   color: #913719;
   text-shadow: 0 0 15px #999 ; 
   font-size: 30px;
   margin-top: 15px;
}

.card p {
    text-align:justify;

    color: rgb(235, 229, 63);
    text-shadow: 0px 0px 0px rgba(50,50,50,150) ; 
    line-height: 1.5;
    font-size: 20px;  
    padding: 10px;
}




footer {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #000000;
    color: #fff;
    font-family: sans-serif;
    

}

.footer-column {
    border-color: rgb(255, 255, 255);
    border-bottom: 5px;
    margin-left: 90px;
    margin-top: 100px;
    color: rgb(248, 199, 52);
    margin-bottom: 1.5em;
    font-size: 40px;
}
.footer-column li {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
    display: block;
    color:  rgb(248, 199, 52);
    font-size:24px;
    font-weight: 400;
    transition:all .50s ease;

}
.footer-column li:hover {
    transform: translateY(-3px) translateX(-5px);
}

.h4class{
    color: #f00;
    text-decoration: underline;
    

}
