*{
    margin: 0;/* Resetting margins to zero for all elements */
    
    padding: 0;/* Resetting padding to zero for all elements */
    
    font-family: 'Roboto Serif', serif;/* Setting the preferred font family for all text, with a fallback to a generic serif font */
    }
    
    .container1 {/* Styling for an element with the class 'container1' */
        width: 100%;  /* Sets the width of the container to 100% of its parent element's width */
        height: 100%; /* Sets the height of the container to 100% of its parent element's height */
        background-image: linear-gradient(rgba(163, 40, 40, 0.91), rgba(201, 197, 62, 0.7)); /* Applies a linear gradient background with two colors and opacity */
        background-position: center;  /* Sets the position of the background image to the center */
        background-size: cover;       /* Ensures that the background image covers the entire container */
        padding-left: 0;              /* Sets the left padding of the container to zero */
        padding-right: 0;             /* Sets the right padding of the container to zero */
        box-sizing: border-box;       /* Includes padding and border in the total width and height of the container */
        margin-bottom: 0;             /* Sets the bottom margin of the container to zero */
    }
    
    
    .container2 {/* Styling for an element with the class 'container2' */
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(149, 208, 240, 0.7),rgba(222, 95, 95, 0.91));
        background-position: center;
        background-size:cover;
        padding-left: 0;
        padding-right: 0;
        box-sizing:border-box;
        margin-bottom: 0px;
    }
    
    .container3 {/* Styling for an element with the class 'container3' */
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(40, 126, 163, 0.91),rgba(151, 218, 49, 0.7));
        background-position: center;
        background-size:cover;
        padding-left: 0;
        padding-right: 0;
        box-sizing:border-box;
        margin-bottom: 0px; 
    }
    
    .container4 {/* Styling for an element with the class 'container4' */
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(147, 237, 183, 0.7),rgba(228, 200, 239, 0.91));
        background-position: center;
        background-size:cover;
        padding-left: 0;
        padding-right: 0;
        box-sizing:border-box;
        margin-bottom: 0px;
    }
        
    .navbar {/* Styling for the navigation bar with the class 'navbar' */
        margin-top: 0px;/* Sets the top margin of the navigation bar to 0 pixels */
        margin-right: 30px;/* Sets the right margin of the navigation bar to 30 pixels */
        height: 20%;/* Sets the height of the navigation bar to 20% of its containing element's height */
        display: flex; /* Turns the navigation bar into a flex container */
        align-items: center; /* Aligns items along the cross axis (vertical centering) */
    }
    
    .logo {/* Styling for the logo within the navigation bar */
        margin-top: 10px;
        width: 50px;
        cursor: pointer; /* Changes the cursor to a pointer when hovering over the logo, indicating interactivity */
    }
    
    .menu-icon {/* Styling for a menu icon */
        width:200px;
        cursor: pointer;
        margin-left: 20px;
        margin-top: 30px;
    }
    
    nav {/* Styling for the 'nav' element */
        flex: 1;/* Allows the 'nav' element to grow and take available space */
        text-align: right;/* Aligns text to the right within the 'nav' element */
        margin-right: 60px;
    }
    
    nav ul li {/* Styling for the list items within the 'nav' element */
        list-style: none;/* Removes the default list-style (bullet points) */
        display: inline-block;/* Displays list items as inline blocks */
        margin-left: 60px;
        text-decoration: none;/* Removes underlines from links */
        color: #fff;
        font-size: 13px;
    }
    
    .navbarlinks{/* Styling for the 'navbarlinks' class */
       text-align: center;/* Centers text within elements with the 'navbarlinks' class */
       color:rgb(255, 247, 3);
       text-shadow: 0 0 15px #6a6969 ; 
       font-size: 23px;
       background-color: rgb(34, 168, 166) ;
       background-position: bottom;
       margin-top: 15px;
       border-radius: 20px;/* Adds rounded corners with a radius of 20 pixels */
       padding:20px 13px;
    }
    @media screen and (max-width: 750px) {  /* Media query for responsive design */
        .navbarlinks {
            display: block;
        }
    }    
    
    nav ul li a {/* Styling for the links within list items in the 'nav' element */
        color:#fff8d7;
        font-size: 25px;
    }
    
    .row {/* Styling for the 'row' class */
        margin-top: 0px;
        display:flex;/* Makes the 'row' class a flex container */
        height: 88%;
        align-items:center; 
    }
    
    .col {/* Styling for elements with the class 'col' */
        flex-basis: 50%; /* Sets the flex basis (initial size) of the 'col' class to 50% */
    }
    
    h1 {/* Styling for 'h1' elements */
        margin-top: 15%;/* Sets the top margin of 'h1' elements to 15% */
        margin-bottom: 50px;/* Sets the bottom margin of 'h1' elements to 50 pixels */
        margin-left: 30px;/* Sets the left margin of 'h1' elements to 30 pixels */
        color: #060000;/* Sets the text color of 'h1' elements to a dark shade of green */
        font-size:30px;
    }
    
    .col p {/* Styling for 'p' elements within elements with the class 'col' */
    
        color: rgb(21, 164, 200), 187, 14;
        font-size: 17px;
        text-align: justify;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 40px;
        margin-bottom: 20px;
        line-height: 1.5;
    }
    .col .col_paragraph {/* Styling for elements with the class 'col_paragraph' within elements with the class 'col' */
        color: rgb(255, 255, 255);
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px; 
    }
    
    .card { /* Styling for the common styles of all cards with the class 'card' */
        width: 400px;
        height: 300px;
        display:inline-block;
        border-radius: 20px;
        padding: 15px 25px;
        box-sizing: border-box;/* Includes padding and border in the element's total width and height */
        cursor: pointer; /* Changes the cursor to a pointer, indicating interactivity */
        margin: 50px 45px;
        background-position:center ; /* Sets the background position to the center */
        background-size:cover;/* Sets the background size to cover the entire container */
        transition: transform 0.2s;/* Adds a smooth transition effect for the 'transform' property over 0.2 seconds */
    }
    
    .card1 {/* Styling for the first card with the class 'card1' */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/p32_byg.webp);/*Foto: Huseyin Ozturk-2023*/
        margin-top: 300px;    
    }
    
    .card1 .Foto {    /* Styling for the content within the card1 with the class 'Foto' */
        margin-top: 220px;
         color: #000000;
         text-align:center;
         border-radius: 20px;
         display:inline-flexbox; /* Displays the content as an inline flex container */
         background-color: #ffdc52; 
    }
    
    .card2 {         /* Styling for the first card with the class 'card2' */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/p32_stud1.webp); /*Foto: Huseyin Ozturk-2023*/
        margin-top: 300px;
    }
    
    .card2 .Foto { /* Styling for the content within the card2 with the class 'Foto' */
        margin-top: 220px;
        color: #000000;
        text-align:center;
        border-radius: 20px;
        display:inline-flexbox;
        background-color: #ffdc52; 
     }
    
    .card3 {/* Styling for the first card with the class 'card3' */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/p32_stud3.webp);/*Foto: Huseyin Ozturk-2023*/
        margin-top: 300px;
    }
    
    .card3 .Foto {/* Styling for the content within the card3 with the class 'Foto' */
        margin-top: 220px;
        color: #000000;
        text-align:center;
        border-radius: 20px;
        display:inline-flexbox;
        background-color: #ffdc52; 
     }
    
    .card4 {/*Styling for the first card with the class 'card4' */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/P32_stud2.webp);/*Foto: Huseyin Ozturk-2023*/
        margin-top: 300px;
    }
    
    .card4 .Foto {    /* Styling for the content within the card4 with the class 'Foto' */
        margin-top: 220px;
        color: #000000;
        text-align:center;
        border-radius: 20px;
        display:inline-flexbox;
        background-color: #ffdc52; 
     }
    
    .card5 {       /*Styling for the first card with the class 'card5 */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/p35_byg.webp);   /*Foto: Huseyin Ozturk-2023*/
        margin-top: 300px;
    }
    
    .card5 .Foto {  /* Styling for the content within the card5 with the class 'Foto' */
        margin-top: 220px;
        color: #000000;
        text-align:center;
        border-radius: 20px;
        display:inline-flexbox;
        background-color: #ffdc52;  
     }
    
    .card6 {/*Styling for the first card with the class 'card6' */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/p35_stud3.webp);/*Foto: Huseyin Ozturk-2023*/
        margin-top: 300px;
    }
    
    .card6 .Foto {/* Styling for the content within the card6 with the class 'Foto' */
        margin-top: 220px;
        color: #000000;
        text-align:center;
        border-radius: 20px;
        display:inline-flexbox;
        background-color: #ffdc52; 
     }
    
    .card7 {/*Styling for the first card with the class 'card7' */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/p35_stud1.webp);/*Foto: Huseyin Ozturk-2023*/
        margin-top: 300px;
    }
    
    .card7 .Foto {/* Styling for the content within the card7 with the class 'Foto' */
        margin-top: 220px;
        color: #000000;
        text-align:center;
        border-radius: 20px;
        display:inline-flexbox;
        background-color: #ffdc52; 
     }
    
    .card8 {/*Styling for the first card with the class 'card8' */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/p35_spis.webp);/*Foto: Huseyin Ozturk-2023*/
        margin-top: 300px;
    }
    
    .card8 .Foto {/* Styling for the content within the card8 with the class 'Foto' */
        margin-top: 220px;
        color: #000000;
        text-align:center;
        border-radius: 20px;
        display:inline-flexbox;
        background-color: #ffdc52; 
     }
    
    .card9 {/*Styling for the first card with the class 'card9' */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/p46_byg.webp);/*Foto: Huseyin Ozturk-2023*/
        margin-top: 300px;
    }
    
    .card9 .Foto {/* Styling for the content within the card9 with the class 'Foto' */
        margin-top: 220px;
        color: #000000;
        text-align:center;
        border-radius: 20px;
        display:inline-flexbox;
        background-color: #ffdc52; 
     }
    
    .card10 {/*Styling for the first card with the class 'card10' */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/p46_stud.webp);/*Foto: Huseyin Ozturk-2023*/
        margin-top: 300px;
    }
    
    .card10 .Foto {/* Styling for the content within the card10 with the class 'Foto' */
        margin-top: 220px;
        color: #000000;
        text-align:center;
        border-radius: 20px;
        display:inline-flexbox;
        background-color: #ffdc52; 
     }
    
    .card11 {/*Styling for the first card with the class 'card11' */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/p46_akt.webp);/*Foto: Huseyin Ozturk-2023*/
        margin-top: 400px;
    }
    .card11 .Foto {/* Styling for the content within the card11 with the class 'Foto' */
        margin-top: 220px;
        color: #000000;
        text-align:center;
        border-radius: 20px;
        display:inline-flexbox;
        background-color: #ffdc52; 
     }
    
    .card12 {/*Styling for the first card with the class 'card12' */
        background-color: rgb(118, 115, 104) ;
        background-image: url(../Images/p46_spis.webp);/*Foto: Huseyin Ozturk-2023*/
        margin-top: 300px;
    
    }
    .card12 .Foto {/* Styling for the content within the card12 with the class 'Foto' */
        margin-top: 220px;
        color: #000000;
        text-align:center;
        border-radius: 20px;
        display:inline-flexbox;
        background-color: #ffdc52; 
     }
    .card:hover{/* Styling for card hover effect */
        transform: translateY(-10px); /* Moves the card 10 pixels upward when hovered */
        
    }
    
    h5 {/* Styling for h5 elements */
       text-align: center;
       color:rgb(0, 0, 0);
       text-shadow: 0 0 15px #6a6969 ; 
       font-size: 25px;
       background-color: rgb(255, 255, 255) ;
       background-position: bottom;
       margin-top: 15px;
       border-radius: 20px;
       padding:10px 0;
    }
    
    footer {/* Styling for the footer section */
        margin-top: 0;/* Centers the text within h5 elements horizontally */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto)); /* Creates a responsive grid layout */
        gap: 3.5rem; /* Sets the gap between grid items to 3.5rem */
        background: #087f96; /* Sets the background color of the footer */
        color: #fff;
        font-family: sans-serif;
    }
    
    .footer-column {/* Styling for the footer columns */
        border-color: rgb(255, 255, 255); /* Sets the border color for footer columns */
        border-bottom: 5px;
        margin-left: 50px;
        margin-right: 200px;
        margin-top: 100px;
        margin-bottom: 1.5em;
        font-size: 20px;
    }
    
    .footer-column li {/* Styling for list items within footer columns */
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
        display: block;
        color: rgb(255, 208, 0);
        line-height: 1.5;
        font-size:17px;
        font-weight: 400;
        transition:all .50s ease; /* Adds a smooth transition effect for all properties over 0.5 seconds */
    }
    
    
    .footer-column li:hover {/* Styling for list items within footer columns when hovered */
        transform: translateY(-3px) translateX(-5px); /* Moves list items 3 pixels up and 5 pixels left when hovered */
    }
    
    .h4class{/* Styling for h4class elements */
        text-align: left;
        margin-top: 0;
        margin-bottom: 60px;
        color:rgb(255, 208, 0);
        text-decoration: underline;
    }
    
    .h3class{/* Styling for h3class elements */
        text-align: left;
        margin-bottom: 60px;
        color:rgb(250, 245, 116);
        text-decoration: underline;
    }
    
    .link-color {/* Styling for elements with the class 'link-color' */
        color: #fdd553;
    }
    
    
    